
<div class="page-header">
  <h2>
    Babylon-Bibliographie
    <small>literature.babylon-online.org</small>
  </h2>
</div>


<div class="row" style="margin:60px 0;">
  <div class="col-md-9 col-centered">
    <%= render "shared/search" %>
  </div>
</div>


<p>
  The Babylon bibliography is a project directed by Olof Pedersén and Eva Cancik-Kirschbaum. Raija Mattila, Helsinki, did most of the original collection of references. Later Felix Levenson, Berlin, made structural changes to the material. The bibliographical information is available as Open Access.
</p>



<br><br>
<h4>Todo</h4>

<p>import: weitere Vornamen berücksichtigen</p>
<p>Suchinterface</p>
<p>googlebooks lookup</p>
