<div class="form-inline nested-fields">
  <%= f.input :ident_name, label: false, collection: Identifier.ident_names.map {|n| n}, selected: f.object.ident_name, prompt: "Type" %>
  <%= f.input :ident_value, label: false, placeholder: "Value" %>
  <%= link_to_remove_association fa_icon('remove'), f %>
</div>