<div class="nested-fields row">
  <div class="col-md-4">
    <%= f.input :ident_name, label: false, collection: Identifier.ident_names.map {|n| n}, selected: f.object.ident_name, prompt: "Type" %>
  </div>
  <div class="col-md-6">
    <%= f.input :ident_value, label: false, placeholder: "Value" %>
  </div>
  <div class="col-md-2">
    <%= link_to_remove_association fa_icon('remove', text: 'remove'), f %>
  </div>
</div>