<% title "Series", false %>

<div class="row">
  <div class="col-md-7">
    <div class="list-group">
      <% @series.each do |serie| %>
        <%= link_to edit_serie_path(serie), remote: true, class: "list-group-item" do %>
          <strong><%= serie.abbr %></strong><br/>
          <%= serie.name %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-5">
    <div id="edit-target" data-spy="affix" data-offset-top="60">
    </div>
  </div>
</div>